<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>VaultX uses Face ID to securely unlock your vault.</string>
	<key>NSCameraUsageDescription</key>
	<string>VaultX uses the camera only to scan two-factor authentication QR codes locally on your device.</string>
</dict>
</plist>
